@model MessageViewModel

<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">Create a secret message</h5>
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="Message"></label>
                <textarea class="form-control" asp-for="Message" placeholder="Enter a message"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Key">Secret Key:</label>
                <input class="form-control" asp-for="Key" placeholder="Enter a secret key">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>