@model MessageViewModel
@{
    ViewBag.Title = "View Message";
    bool isEnter = Model?.Message == null;
}

<h5 class="bg-warning text-white text-center m-2 p-2">View Message</h5>
<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">@(isEnter ? "Enter a secret key": "Encrypted Message")</h5>
        <form asp-action="Message" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Code" type="hidden">
            @if (!isEnter)
            {
                <div class="form-group">
                    <label asp-for="Message"></label>
                    <textarea class="form-control" asp-for="Message" placeholder="Enter a message" readonly></textarea>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Key">Secret Key:</label>
                    <input class="form-control" asp-for="Key" placeholder="Enter a secret key">
                    <span asp-validation-for="Key" class="text-danger"></span>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            }
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_Validation" />
}