@model LoginViewModel
@{
    ViewBag.Title = "Sign in";
}

<h5 class="bg-primary text-white text-center p-2 my-2">Sign in</h5>

<div class="card">
    <div class="card-body">
        <form asp-action="Login" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label asp-for="Username"></label>
                <input class="form-control" asp-for="Username" placeholder="Enter an username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password" placeholder="Enter a password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="RememberMe" />
                <label class="form-check-label" asp-for="RememberMe">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_Validation" />
}